In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from collections import defaultdict

## Question 3

### (a)

In [3]:
data1112 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2011-2012/DEMO_G.XPT')
data1314 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2013-2014/DEMO_H.XPT')
data1516 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/DEMO_I.XPT')
data1718 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/DEMO_J.XPT')

data1112 = data1112[['SEQN','RIAGENDR','RIDAGEYR', 'RIDRETH3', 'DMDEDUC2', 'DMDMARTL', 
                    'RIDSTATR', 'SDMVPSU', 'SDMVSTRA', 'WTMEC2YR', 'WTINT2YR']]
data1112["years"] = "2011-2012"
data1314 = data1314[['SEQN', 'RIAGENDR','RIDAGEYR', 'RIDRETH3', 'DMDEDUC2', 'DMDMARTL', 
                    'RIDSTATR', 'SDMVPSU', 'SDMVSTRA', 'WTMEC2YR', 'WTINT2YR']]
data1314["years"] = "2013-2014"
data1516 = data1516[['SEQN', 'RIAGENDR','RIDAGEYR', 'RIDRETH3', 'DMDEDUC2', 'DMDMARTL', 
                    'RIDSTATR', 'SDMVPSU', 'SDMVSTRA', 'WTMEC2YR', 'WTINT2YR']]
data1516["years"] = "2015-2016"
data1718 = data1718[['SEQN', 'RIAGENDR','RIDAGEYR', 'RIDRETH3', 'DMDEDUC2', 'DMDMARTL', 
                    'RIDSTATR', 'SDMVPSU', 'SDMVSTRA', 'WTMEC2YR', 'WTINT2YR']]
data1718["years"] = "2017-2018"
df = pd.concat([data1112, data1314, data1516, data1718])

df = df.rename(columns={'SEQN': 'id',
    'RIDAGEYR': 'age',
    'RIAGENDR': 'gender',
    'RIDRETH3': 'race',
    'DMDEDUC2': 'education',
    'DMDMARTL': 'marital_status',
    'RIDSTATR': 'exam_status',
    'SDMVPSU': 'psu',
    'SDMVSTRA': 'strata',
    'WTMEC2YR': 'exam_wt',
    'WTINT2YR': 'interview_wt'})


df['id'] = df.id.astype('int')
df['age'] = df.age.astype('int')
df['psu'] = df.psu.astype('int')
df['strata'] = df.strata.astype('int')
df['years'] = pd.Categorical(df['years'])
df['gender'] = pd.Categorical(df['gender'].replace({1: 'Male', 2: 'Female'}))
df['race'] = pd.Categorical(df['race'].replace({1: 'Mexican American',
             2: 'Other Hispanic',
             3: 'Non-Hispanic White',
             4: 'Non-Hispanic Black',
             6: 'Non-Hispanic Asian',
             7: 'Other/Multiracial'}))
df['education'] = pd.Categorical(df['education'].replace({1: 'Less than 9th grade',
                  2: '9-11th grade (Includes 12th grade with no diploma)',
                  3: 'High school graduate/GED or equivalent',
                  4: 'Some college or AA degree',
                  5: 'College graduate or above',
                  7: 'Refused',
                  9: "Don't know"}))
df['marital_status'] = pd.Categorical(df['marital_status'].replace({1: 'Married',
                       2: 'Widowed',
                       3: 'Divorced',
                       4: 'Separated',
                       5: 'Never married',
                       6: 'Living with partner',
                       77: 'Refused',
                       99: "Don't know"}))
df['exam_status'] = pd.Categorical(df['exam_status'].replace({1: 'Interviewed only',
                    2: 'Both interviewed and MEC examined'}))


print(df.dtypes)
df.to_pickle("./3a.pkl")
df

id                   int64
gender            category
age                  int64
race              category
education         category
marital_status    category
exam_status       category
psu                  int64
strata               int64
exam_wt            float64
interview_wt       float64
years             category
dtype: object

,id,gender,age,race,education,marital_status,exam_status,psu,strata,exam_wt,interview_wt,years
0,62161,Male,22,Non-Hispanic White,High school graduate/GED or equivalent,Never married,Both interviewed and MEC examined,1,91,104236.582554,102641.406474,2011-2012
1,62162,Female,3,Mexican American,NaN,NaN,Both interviewed and MEC examined,3,92,16116.354010,15457.736897,2011-2012
2,62163,Male,14,Non-Hispanic Asian,NaN,NaN,Both interviewed and MEC examined,3,90,7869.485117,7397.684828,2011-2012
3,62164,Female,44,Non-Hispanic White,Some college or AA degree,Married,Both interviewed and MEC examined,1,94,127965.226204,127351.373299,2011-2012
4,62165,Female,14,Non-Hispanic Black,NaN,NaN,Both interviewed and MEC examined,2,90,13384.042162,12209.744980,2011-2012
...,...,...,...,...,...,...,...,...,...,...,...,...
9249,102952,Female,70,Non-Hispanic Asian,High school graduate/GED or equivalent,Married,Both interviewed and MEC examined,2,138,18338.711104,16896.276203,2017-2018
9250,102953,Male,42,Mexican American,High school graduate/GED or equivalent,Separated,Both interviewed and MEC examined,2,137,63661.951573,61630.380013,2017-2018
9251,102954,Female,41,Non-Hispanic Black,College graduate or above,Never married,Both interviewed and MEC examined,1,144,17694.783346,17160.895269,2017-2018
9252,102955,Female,14,Non-Hispanic Black,NaN,NaN,Both interviewed and MEC examined,1,136,14871.839636,14238.445922,2017-2018
9253,102956,Male,38,Non-Hispanic White,Some college or AA degree,Divorced,Both interviewed and MEC examined,1,142,39426.299948,38645.740291,2017-2018

### (b)

In [4]:
oral1112 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2011-2012/OHXDEN_G.XPT')
oral1314 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2013-2014/OHXDEN_H.XPT')
oral1516 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/OHXDEN_I.XPT')
oral1718 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/OHXDEN_J.XPT')

In [5]:
oral = pd.concat([oral1112, oral1314, oral1516, oral1718])
oral1 = oral.filter(regex='TC')                           
oral1 = oral1[oral1.columns.drop(list(oral1.filter(regex='RTC')))]
oral2 = oral[['SEQN', 'OHDDESTS']]
result = pd.concat([oral2, oral1], axis=1)
result = result.rename(columns={"SEQN": "id", "OHDDESTS": "ohx_status"})
result['id'] = result.id.astype('int')
result['ohx_status'] = pd.Categorical(result['ohx_status'].replace({1: 'Complete', 
                                                                    2: 'Partial', 
                                                                    3: 'Not Done'}))

for i in range(1,33):
    if i < 10:
        i = str(i)
        i = '0' + i
    else:
        i = str(i)
    a = 'OHX{}TC'.format(i)
    b = 'teethcount{}'.format(i)
    result = result.rename(columns={a: b})

for j in range(2,32):
    if j < 10:
        j = str(j)
        j = '0' + j
    else:
        j = str(j)
    a = 'OHX{}CTC'.format(j)
    b = 'coronal_cavities{}'.format(j)
    result = result.rename(columns={a: b})
    
result.to_pickle("./3b.pkl")
result

,id,ohx_status,teethcount01,teethcount02,teethcount03,teethcount04,teethcount05,teethcount06,teethcount07,teethcount08,...,coronal_cavities22,coronal_cavities23,coronal_cavities24,coronal_cavities25,coronal_cavities26,coronal_cavities27,coronal_cavities28,coronal_cavities29,coronal_cavities30,coronal_cavities31
0,62161,Complete,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'S'
1,62162,Complete,4.0,4.0,4.0,1.0,1.0,1.0,1.0,1.0,...,b'D',b'D',b'D',b'D',b'D',b'D',b'D',b'D',b'U',b'U'
2,62163,Complete,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Y',b'S'
3,62164,Complete,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'Z'
4,62165,Complete,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8361,102952,Complete,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S'
8362,102953,Complete,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z'
8363,102954,Complete,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'F',b'S',b'S'
8364,102955,Complete,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z'
8365,102956,Complete,4.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'E'

### (c)

In [6]:
shape = df.shape
print('Number of cases for dataset1:', shape[0])
shape2 = result.shape
print('Number of cases for dataset2:', shape2[0])

Number of cases for dataset1: 39156
Number of cases for dataset2: 35909

### Edit for both dataset includes gender

In [7]:
df = pd.read_pickle("./3a.pkl")
df2 = pd.read_pickle("./3b.pkl")
df_full = pd.merge(df, df2, on='id', how='left')
df_full

,id,gender,age,race,education,marital_status,exam_status,psu,strata,exam_wt,...,coronal_cavities22,coronal_cavities23,coronal_cavities24,coronal_cavities25,coronal_cavities26,coronal_cavities27,coronal_cavities28,coronal_cavities29,coronal_cavities30,coronal_cavities31
0,62161,Male,22,Non-Hispanic White,High school graduate/GED or equivalent,Never married,Both interviewed and MEC examined,1,91,104236.582554,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'S'
1,62162,Female,3,Mexican American,NaN,NaN,Both interviewed and MEC examined,3,92,16116.354010,...,b'D',b'D',b'D',b'D',b'D',b'D',b'D',b'D',b'U',b'U'
2,62163,Male,14,Non-Hispanic Asian,NaN,NaN,Both interviewed and MEC examined,3,90,7869.485117,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Y',b'S'
3,62164,Female,44,Non-Hispanic White,Some college or AA degree,Married,Both interviewed and MEC examined,1,94,127965.226204,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'Z'
4,62165,Female,14,Non-Hispanic Black,NaN,NaN,Both interviewed and MEC examined,2,90,13384.042162,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39151,102952,Female,70,Non-Hispanic Asian,High school graduate/GED or equivalent,Married,Both interviewed and MEC examined,2,138,18338.711104,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S'
39152,102953,Male,42,Mexican American,High school graduate/GED or equivalent,Separated,Both interviewed and MEC examined,2,137,63661.951573,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z'
39153,102954,Female,41,Non-Hispanic Black,College graduate or above,Never married,Both interviewed and MEC examined,1,144,17694.783346,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'F',b'S',b'S'
39154,102955,Female,14,Non-Hispanic Black,NaN,NaN,Both interviewed and MEC examined,1,136,14871.839636,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z'
39155,102956,Male,38,Non-Hispanic White,Some college or AA degree,Divorced,Both interviewed and MEC examined,1,142,39426.299948,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'E'